@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  color: #000;
  text-decoration: none;
}

.root-container{
  max-width: 1140px;
  margin: 0 auto
}
